__pycache__/
*.pyc

sim/
sim_build/
*.vvp
*.vcd
results.xml
*.json
*.elf
*.dis
Pipelined_Processor/software/*.hex
Pipelined_Processor/software/*.bin
Pipelined_Processor/software/*.coe

Pipelined_Processor/tcl/current_test.hex